
html {
    box-sizing: border-box;
   font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #1E293B;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    padding: 3rem 0;
}

header h1 {
    text-align: center;
    color: #2563EB;
    font-size: 6rem;
}
header p {
    color: #E2E8F0;
    text-align: center;
    font-size: 3.2rem;
}
header p a {
    text-decoration: none;
    color: #3B82F6;
}